.UserDataHeader{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.name,.status,.access{
    font-weight: bolder;
    font-size: 25px;
}
.name{
    min-width: 220px;
    width: 35%;
}

.status{
    min-width: 130px;
    width: 11%;
}
.access{
    min-width: 130px;
    width: 10%;
}